body {
    font-family: Garamond, serif;
    margin: 0;
    line-height: 1.1;
    padding: 30px;
    background-color: #f5f5f5;
}

/* Element*/
h1 {
    text-align: left;
    color: white;
}

/*class*/
.left-align {
    text-align: left;
    vertical-align: middle;
    color: black;
}

/*id*/
#name {
    color:rgb(33, 33, 99);
}

/*
The specificity of the CSS selectors are the following:
Element selector: 0,0,0,1
Class selector: 0,0,1,0
ID selector: 0,1,0,0

From that we know that id has the highest specificity therefore it overide both the element
and class selector (.left-align h1 -> 0,0,1,1). As a result the color of the text is dark blue
instead of black or white.
*/

hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}

.information {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.photo  {
    text-align:right;
    vertical-align: middle;
}

.category {
    font-size: 20px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header.occupation {
    font-size: 15px;
}

.header.location {
    font-size: 10.5px;
}

title {
    align-items: center;
    font-size: 16px;
}

.description {
    font-size:10.5px;
}

img {
    width: 150px;
    height: 200px;
}