.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    padding: 30px;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.nav-links {
    font-size: 20px;
    display:flex;
    list-style: none;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.nav-links a:hover {
    color: lightgray;
    text-decoration: underline;
}

body {
    font-family: Garamond, serif;
    margin: 0;
    line-height: 1.1;
    background-color: #f5f5f5;
}

#resume {
    padding: 20px;
}

/* Element*/
h1 {
    text-align: left;
    color: white;
}

/*class*/
.left-align {
    text-align: left;
    vertical-align: middle;
    color: black;
}

/*id*/
#name {
    color:rgb(33, 33, 99);
}

/*
The specificity of the CSS selectors are the following:
Element selector: 0,0,0,1
Class selector: 0,0,1,0
ID selector: 0,1,0,0

From that we know that id has the highest specificity therefore it overide both the element
and class selector (.left-align h1 -> 0,0,1,1). As a result the color of the text is dark blue
instead of black or white.
*/

hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}

.information {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.photo  {
    text-align:right;
    vertical-align: middle;
}

.category {
    font-size: 20px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.occupation {
    font-size: 15px;
}

.location {
    font-size: 10.5px;
}

.description {
    font-size:10.5px;
}

#resume img {
    width: 150px;
    height: 200px;
}

#projects {
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

#projects h1 {
    color: black;
}

.card {
    padding: 15px;
    border: 1px solid black;
}

.card img {
    width: 100%;
    height: auto;
}

@media (max-width:768px){

.nav-links{
    flex-direction:column;
}

.logo {
    font-size: clamp(24px, 5vw, 50px);
}
.projects-grid{
    grid-template-columns:1fr;
}

body{
    font-size:14px;
}

}